.App {
  text-align: center;
  padding: 10px;
  background-image: url('./components/image/1.png');
  width: 35vw;
  height: 75vh;
  margin: 50px auto;
  background-size: contain ;
  background-repeat: no-repeat;
}

h1 {
  font-family: sans-serif;
  color: #334c23;

}


p {
  font-family: sans-serif;
  color: #555;
}

.input-form {
  padding: 10px;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  font-family: sans-serif;
  transition: border-color 0.3s ease;
 
}

.input-form:focus {
  outline: none;
  border-color: #45a049;
 
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  
}

button:hover {
  background-color: #45a049;
  
}


div {
  font-family: sans-serif;
  color: #333;
}

.title,
.game-quest {
  font-size: 20px;
  font-weight: 600;
  color: #334c23;
}
